.App-header {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    color: rgb(179, 17, 17);
    font-size: calc(10px + 2vmin);
    font-weight: bolder;
    border-bottom: 5px rgb(179, 17, 17);
}

:root {
	--primary-color: #E11D3F;
	font: 18px Helvetica, Arial, sans-serif;
}

.App-logo {
	height: 200px;
	width: 200px;
}